.chatWrapper {
  margin-left: 300px;
}

.leader {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  z-index: 100;
  background: white;
}

.title {
  font-size: 1.8em;
  color: rgb(239, 95, 78);
}
